:root {
  --box-shadow: hsl(339, 70, 12);
  --font-color-text: hsl(0, 0, 18);
  --font-color-heading: hsl(0, 0, 12);
  --font-color-label: hsl(0, 0%, 60%);
  --bg-purple: hsl(301, 39, 36);
  --font-family: "Poppins";
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

h1,
h2 {
  color: var(--font-color-heading);
  font-weight: 600;
}

.label-date {
  color: var(--font-color-label);
}

p {
  color: var(--font-color-text);
}

.img-article {
  border-radius: 15px;
  width: 150px;
}

main {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("resources/gradient-1769859881709.svg") no-repeat center
    center/cover;
}

.main-window,
.article {
  width: 900px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

header {
  width: 100%;
  text-align: center;
}

.box-articles {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box {
  display: flex;
  align-items: center;
  gap: 50px;
  border-radius: 30px;
  padding: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.label-date {
  margin-top: 15px;
}

.box:hover {
  box-shadow: 0 10px 30px -15px #000;
}

.article {
  gap: 30px;
  border-radius: 30px;
  padding: 50px;
  box-shadow: 0 10px 30px -15px #000;
  position: absolute;
  height: 600px;
}

.window-active {
  opacity: 1;
  pointer-events: all;
}

.box-in {
  padding: 0;
}

.box-in:hover {
  box-shadow: none;
}

.heading-article {
  font-size: 1.6rem;
}

.img-in {
  width: 100px;
}

.box-in {
  flex-direction: row-reverse;
}

@media (max-width: 1024px) {
  .img-article {
    width: 125px;
  }
  .main-window {
    gap: 75px;
  }
  .main-window,
  .article {
    width: 80%;
  }
}

@media (max-width: 850px) {
  .heading-main {
    font-size: 1.5rem;
  }
  .heading-about {
    font-size: 1.2rem;
  }
  .main-window,
  .article {
    width: 90%;
  }
  .main-window {
    gap: 50px;
  }
  .heading-article {
    font-size: 1rem;
  }
  .text-article {
    font-size: 0.8rem;
  }
  .img-article {
    width: 100px;
  }
  .article {
    height: 450px;
  }
  .box-in {
    gap: 30px;
  }
}

@media (max-width: 600px) {
  .heading-about {
    font-size: 1rem;
  }
  .heading-article {
    font-size: 0.8rem;
  }
  .img-article {
    width: 90px;
  }
  .text-article {
    font-size: 0.6rem;
  }
  .label-date {
    font-size: 0.8rem;
  }
  .img-article {
    width: 100px;
  }
  .box-articles {
    gap: 30px;
  }
  .box {
    gap: 30px;
    padding: 15px;
  }
  .box-in {
    padding: 0;
    flex-direction: column-reverse;
    align-items: center;
  }
  .article {
    height: auto;
    overflow-y: scroll;
    box-shadow: none;
    width: 100%;
    padding: 30px;
  }
}

@media (max-width: 450px) {
  .heading-about {
    font-size: 0.5rem;
  }
  .heading-main {
    font-size: 1rem;
  }
  .label-date {
    font-size: 0.5rem;
    margin-top: 10px;
  }
  header {
    padding: 20px;
  }
  .box {
    gap: 20px;
  }
  .label-date {
    font-size: 0.4rem;
    margin-top: 5px;
  }
  .img-article {
    width: 90px;
  }
}
